.team-tile {
    margin-bottom: 30px;
    overflow: hidden;

    .team-photo-wrapper {
        position: relative;
        
        .team-links {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1000;
            
            a {
                padding: 5px;
                i.fa {
                    margin: 3px;
                }
            }
        }
    }

    .team-info {
        background: $red;
        color: $white;
        
        a, h2, .team-role {
            color: $white;
        }
    }

    .team-title {
        padding: 15px 20px;
        line-height: 1;

        .team-role {
            font-size: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            p {
                margin: 0;
            }
        }
        
        h2 {
            font-size: 16px;
            margin-top: 0px;
            margin-bottom: 3px;
            font-weight: bold;
            line-height: 19px;
        }
    }
}
