body.single-speaker {
  .related-speaker-tile {
    padding-bottom: 10px;
    img {
      width: 100%;
    }
    .media-type {
      text-transform: uppercase;
      font-size: 11px;
    }
    .related-speaker-position {
      font-size: 11px;
    }
  }
}